body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
}

li,
a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* HEADER */

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container {
  align-items: flex-start;
} 
.contacts-container {
  align-items: flex-end;
}
.list-link {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  padding-right: 76px;
}
.logo-studio {
  color: #2e2f42;
}
.nav-container {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.nav-link {
  color: #2e2f42;
}
.contacts {
  font-style: normal;
}
.contact {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.contact:hover,
.contact:focus {
  color: #404bbf;
}

/* HERO */
.headline {
  background-color: #2e2f42;
}
.headline .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  padding-top: 188px;
  padding-bottom: 188px;
}
.heading-main {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  width: 496px;
}
.button {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  padding: 16px 32px;
}

/* SECTION 1 FEATURES OF THE COMPANY  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-features {
  display: flex;
  gap: 24px;
}
.paragraph {
  font-size: 16px;
}
.heading {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding-bottom: 8px;
}
.header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-bottom: 72px;
}

/* SECTION 2 TEAM OF THE COMPANY */
.list-team {
  display: flex;
  gap: 24px;
}
.team-container {
  background-color: #f4f4fd;
}
.team-card .heading {
padding-top: 32px;
text-align: center;
}
.team-card .paragraph {
  padding-bottom: 32px;
text-align: center;
}
.team-card {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* SECTION 3 PORTFOLIO */

.portfolio-card {
  border: 1px solid var(--cornflower, #e7e9fc);
}
.portfolio-card h3 {
  padding-left: 16px;
  padding-top: 32px;
}
.portfolio-card p {
  padding-left: 16px;
  padding-bottom: 32px;
}
.portfolio-card img {
  width: 358px;
  height: 298px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap; 
  gap: 24px;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
}
.paragraph-footer {
  color: #f4f4fd;
  width: 264px;
}
.logo-footer {
  color: #f4f4fd;
}
.footer .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  padding-bottom: 16px;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}